<h1>BIENVENUE !</h1>

<div class="center hero-unit tucked-corners">
  <h2>
    Amicale des Beaudottes
  </h2>

  <%= link_to "Inscrivez-vous s'il vous plait !", signup_path, class: "btn btn-large" %>
</div>