@import "bootstrap";
/* universal */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: linear-gradient(#F0F0F0, #505050);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.alert {
  margin-top: 150px;
  background: #F0F0F0 ;
  background: linear-gradient(#F0F0F0, #505050); 
  background-size: 100% 200%;
  transition: background-position .5s;
}


.tucked-corners {
  text-align: center;
  background: #F0F0F0 ;
  background: linear-gradient(#F0F0F0, #505050); 
  background-size: 100% 200%;
  transition: background-position .5s;
  box-shadow: 0 1px 25px
hsla(0,0%,0%,.2) !important;
  margin-top: 100px;

}

.tucked-corners:hover, .tucked-corners:focus {
  background-position: 0 -102%;
}

.btn {
  background: linear-gradient(#2876b2, #549ad0); 
  background-size: 100% 200%;
  transition: background-position .5s linear;
}

.btn:hover, .btn:focus {
  background-position: 0 -102%; 
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */

footer {
  margin-top: 200px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
}

footer a {
  color: black;
}

footer a:hover {
  color: black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
  color: black;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
